<a href="https://colab.research.google.com/github/jiteshchandra80/heartdisease/blob/master/stock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
pip install quandl

Requirement already satisfied: quandl in /usr/local/lib/python3.6/dist-packages (3.5.0)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from quandl) (2.21.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from quandl) (8.2.0)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.17.5)
Requirement already satisfied: inflection>=0.3.1 in /usr/local/lib/python3.6/dist-packages (from quandl) (0.3.1)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.6/dist-packages (from quandl) (0.25.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from quandl) (2.6.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from quandl) (1.12.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2019.11.28)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14->quandl) (2018.9)

In [0]:
import numpy as np

import quandl
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split

In [0]:
df=quandl.get("WIKI/AMZN")
print(df.tail())

               Open     High      Low  ...  Adj. Low  Adj. Close  Adj. Volume
Date                                   ...
2018-03-21  1586.45  1590.00  1563.17  ...   1563.17     1581.86    4667291.0
2018-03-22  1565.47  1573.85  1542.40  ...   1542.40     1544.10    6177737.0
2018-03-23  1539.01  1549.02  1495.36  ...   1495.36     1495.56    7843966.0
2018-03-26  1530.00  1556.99  1499.25  ...   1499.25     1555.86    5547618.0
2018-03-27  1572.40  1575.96  1482.32  ...   1482.32     1497.05    6793279.0

[5 rows x 12 columns]

In [0]:
df=df[["Adj. Close"]]
df.head()

            Adj. Close
Date
1997-05-16    1.729167
1997-05-19    1.708333
1997-05-20    1.635833
1997-05-21    1.427500
1997-05-22    1.395833

In [0]:
forecast=30
df["Predictions"]=df[["Adj. Close"]].shift(-forecast)
df.tail()

            Adj. Close  Predictions
Date
2018-03-21     1581.86          NaN
2018-03-22     1544.10          NaN
2018-03-23     1495.56          NaN
2018-03-26     1555.86          NaN
2018-03-27     1497.05          NaN

In [0]:
# Create the independent dataset
# Convert the dataframe to the numpy array
X=np.array(df.drop(["Predictions"],1))
#Remove the last n row
X=X[:-forecast]
print(X)

[[   1.72916667]
 [   1.70833333]
 [   1.63583333]
 ...
 [1350.47      ]
 [1338.99      ]
 [1386.23      ]]

In [0]:
#create a dependent dataset
# Convert the dataframe into the numpy array includig the nan's
y=np.array(df["Predictions"])
#get all the values of y except the last 30 days
y=y[:-forecast]
print(y)

[1.54166667e+00 1.51583333e+00 1.58833333e+00 ... 1.49556000e+03
 1.55586000e+03 1.49705000e+03]

In [0]:
#split the data into training and testing
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [0]:
#Creating and fitting(applying the support vector machine)
svr=SVR(kernel="rbf",C=1e3, gamma=0.1)
svr.fit(x_train,y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=0.1,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [0]:
#Test_model returns the value of the r square
svm_value=svr.score(x_test,y_test)
print("Printing the value of the R suqare: ",svm_value)

Printing the value of the R suqare:  0.942654649742085

In [0]:
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
lr_value=lr.score(x_test,y_test)
print("The value of the r_square for the linear regression is :",lr_value)

The value of the r_square for the linear regression is : 0.9863841926969413

In [0]:
  # Set x_forecast equal to the last 30 rows from the columns Adj. Close Column
  x_forecast=np.array(df.drop(["Predictions"],1))[-forecast:]
  print(x_forecast)

[[1414.51]
 [1451.05]
 [1461.76]
 [1448.69]
 [1468.35]
 [1482.92]
 [1484.76]
 [1500.  ]
 [1521.95]
 [1511.98]
 [1512.45]
 [1493.45]
 [1500.25]
 [1523.61]
 [1537.64]
 [1545.  ]
 [1551.86]
 [1578.89]
 [1598.39]
 [1588.18]
 [1591.  ]
 [1582.32]
 [1571.68]
 [1544.93]
 [1586.51]
 [1581.86]
 [1544.1 ]
 [1495.56]
 [1555.86]
 [1497.05]]

In [0]:
lr_predict=lr.predict(x_forecast)
print(lr_predict)

[1502.89103762 1541.81304764 1553.221223   1539.29920135 1560.24081922
 1575.76062453 1577.72057249 1593.95405451 1617.33495544 1606.71502003
 1607.21565891 1586.97706585 1594.22035179 1619.10316936 1634.04777255
 1641.88756439 1649.19476168 1677.98682328 1698.7580109  1687.8824301
 1690.88626339 1681.64042193 1670.30680981 1641.81300116 1686.10356429
 1681.15043494 1640.9288942  1589.22461487 1653.45551811 1590.81174664]

In [0]:
svm_predict=svr.predict(x_forecast)
print(svm_predict)

[1054.98687171 1550.71095137  672.82172616 1078.73561999  672.78864475
  672.78864475  672.78864475  672.78864475  672.78864475  672.78864475
  672.78864475  672.78864475  672.78864475  672.78864475  672.78864475
  672.78864475  672.78864475  672.78864475  672.78864475  672.78864475
  672.78864475  672.78864475  672.78864475  672.78864475  672.78864475
  672.78864475  672.78864475  672.78864475  672.78864475  672.78864475]